version: 2.1

orbs:
  aws-cli: circleci/aws-cli@2.0.3

jobs:
  job1:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - run: echo "hello world"
  create_infrastructure:
    docker:
      - image: amazon/aws-cli
    steps:
      - checkout
      - run:
        name: Create Cloudformation Stack
        command: |
          aws cloudformation deploy \
            --template-file template.yml \
            --stack-name myStack-${CIRCLE_WORKFLOW_ID:0:5} \
            --region us-east-1

workflows:
  myWorkflow:
    jobs:
      - job1
      - create_infrastructure